.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
.ipynb_checkpoints/

data/*
!data/.gitkeep
!data/Variables_seleccion.xlsx
data/Indicadores_vano_v3.csv
!data/models
!data/models/**
data/optuna/

outputs/*
!outputs/.gitkeep

notebooks/outputs/*
!notebooks/outputs/.gitkeep

.vscode/
.DS_Store
**/.DS_Store
